 {% extends 'base.html' %}
 
 {% block title %} <title>Faculty Dashboard</title> {% endblock %}

 {% block useCss %} {% endblock %}

 {% block content %}
     <div class="container-fluid mt-3">
        <div class="row">
        <div class="col-md-8 text-left">
            <div class="card">
                <div class="card-header font-weight-bold " style="background:powderblue; color:black">UPDATES</div>
                <div class="card-body">

                </div>
            </div>
        </div>
        <div class="col-md-3 offset-md-1">
            <div class="card">
                <div class="card-header text-center font-weight-bold"style="background:powderblue; color:black;">STUDENTS LIST</div>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
</div>

 {% endblock %}