{% extends 'base.html' %}

{% block title %} <title>Faculty Dashboard</title> {% endblock %}

{% block useCss %} {% endblock %}

{% block content %}
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-center font-weight-bold" style="background:powderblue; color:black;">
                        TEAM LIST
                    </div>
                    <div class="card-body">
                        <table class="table table-active table-responsive table-borderless">
                            <thead>
                            <tr>
                                <th>Project Title</th>
                                <th>Student 1</th>
                                <th>Student 2</th>
                                <th>Synopsis</th>
                                <th>Phase 1</th>
                                <th>Phase 2</th>
                                <th>Final Phase</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for data in team %}
                                <tr>
                                    <td>{{ data.title }}</td>
                                    <td>{{ data.owner }}</td>
                                    <td>{{ data.partner }}</td>
                                    <td>
                                        <a href="{% url 'facultyCommentSynopsis' data.id %}" class="btn btn-info text-decoration-none">Synopsis</a>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-info text-decoration-none">Phase 1</a>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-info text-decoration-none">Phase 2</a>
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-info text-decoration-none">Final Phase</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

{#                    {% for data in docx %}#}
{#                        {{ data }}#}
{#                    {% endfor %}#}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}