{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %} <title>Team Creation</title>
{% endblock %}
{% block useCss %} {% endblock %}

{% block content %}

    <div class="container p-1">
        <div class="card mt-2">
            <div class="card-header font-weight-bold" style="background:powderblue; color:black;">
                TEAM
            </div>
            <div class="card-body">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <form action="{% url 'teams' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-12 mb-0">
                            <div id="div_id_owner" class="form-group">

                                <label for="id_owner" class=" requiredField">
                                    First Student<span class="asteriskField">*</span>
                                </label>

                                <div class="">
                                    <input type="text" name="owner" value="{{ user.name }} {{ user.email }}"
                                           class="form-control textinput textInput form-control"
                                           placeholder="First Student" maxlength="100" required="" id="id_owner" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 mb-0">
                            {{ formt.partner|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 mb-0">
                            {{ formt.guide|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 mb-0">
                            {{ formt.title|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8 mb-0 offset-2">
                            <button type="submit" class="btn btn-block font-weight-bold"
                                    style="background: royalblue;color: black; ">Submit Details
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>

{% endblock %}