{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %} <title>Pahse 2</title>
    {{ form.media }}
    <script type="text/javascript" src="{% static 'tinymce/tinymce.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_tinymce/init_tinymce.js' %}"></script>
{% endblock %}


{% block useCss %} {% endblock %}

{% block content %}

    <div class="container p-1">
        <div class="card mt-2">
            <div class="card-header font-weight-bold" style="background:powderblue; color:black;">
                PROJECT PHASE - II
            </div>
            <div class="card-body">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% if needToUpdate == False %}
                    <form action="{% url 'projectphase2' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-12 mb-0">
                                <div id="div_id_scrum_master" class="form-group">
                                    <label for="id_scrum_master" class=" requiredField">
                                        Scrum master<span class="asteriskField">*</span>
                                    </label>
                                    <div class="">
                                        <input type="text" name="scrum_master" value="{{ user.name }}" maxlength="100"
                                               class="textinput textInput form-control"
                                               id="id_scrum_master" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12 mb-0">
                                {{ form2.project_title|as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12 mb-0">
                                {{ form2.phase2|as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-8 mb-0 offset-1">
                                <button type="submit" class="btn btn-block font-weight-bold"
                                        style="background: royalblue;color: black; ">Submit Details
                                </button>
                            </div>
                        </div>
                    </form>
                {% else %}
                    {% for data in queryset %}
                        {{ data.phase2 }}

                        <a href="{% url 'updatePhase2' data.id %}" class="btn btn-block font-weight-bold"
                           style="background: royalblue;color: black; ">Update Details
                        </a>
                        <div class="container text-right m-2 p-2">
                            <span class="badge badge-info badge-pill p-2 font-weight-bolder" style="background:powderblue; color:black;">Project Created at: {{ data.created_at }}</span>
                            <span class="badge badge-info badge-pill p-2 font-weight-bolder" style="background:powderblue; color:black;">Project Updated at: {{ data.updated_at }}</span>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>


    </div>

{% endblock %}